.modal-overlay {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1005;
  background-color: rgba(0, 0, 0, 0.45);
  overflow-y: scroll;
}

.modal {
  display: block;
  z-index: 1006;
  padding: 16px;
  //border: 1px solid $color-zeta;
  background-color: $white;
  border-radius: 0;
  position: relative;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}
