.filter-wrapper {

  .filter {
    width: 30%;
    list-style: none;
    &__label {
      display: block;
    }

    &__select {
      background: $white;
      padding: 0 10px;
      color: $grey;
      display: block;
      font-size: 14px;
      width: 100%;
      margin-bottom: 25px;
      height: 35px;
      outline: none;
    }
  }
}

.image-page {
    height: 100%;
    width: 100%;
}

.product-list {
  color: $grey;
  max-width: 1100px;
  float: right;
  margin: auto;

  .search-wrapper {
    margin: 20px 0;

     input {
       border: 0;
       border-bottom: 2px solid $blue;
       outline: none;
       text-decoration: none;
       font-size: 16px;
     }
  }

  .title {
    display: inline-block;
  }

  .plp {

    &-wrapper {
      grid-gap: 10px;
    }

    &__item {
      overflow: hidden;

      img {
        width: 100%;
        height: 200px;
      }

      &-title {
        @include typi('h3');
        font-weight: 700;
      }
    }
  }
}

.search-box-container {
  width: 700px;
  background: hsla(0,0%,100%,.8);
  padding: 20px;
  margin: 100px auto;
}

.background-page {
  background: url('/main-page.jpg') no-repeat center 90%;
  background-size: cover;
  height:600px;
}
