<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="/signup" method="post">
    <input name="firstName" type="text" placeholder="First name" required autofocus>
    <input name="lastName" type="text" placeholder="Last name" required>
    <input name="email" type="email" placeholder="Email" required>
    <input name="password" type="password" placeholder="Password" required>
    <input type="submit" value="Sign up">
</form>
</body>
</html>
