@import 'breakpoints';
@import 'grid';

body {
  background: red;

  @include for-tablet-portrait-up {
    background: white;
  }
}

img {
  width: 100%;
  height: 100%;
}

.plp-wrapper {
  max-width: 1200px;
  margin: 0 auto;

  &-img {
    height: 300px;
  }
}
